@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    color: theme('colors.gray.DEFAULT');
  }

  body {
    @apply bg-white dark:bg-gray;
  }

  li {
    list-style-type: none;
  }
}

@layer components {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
